@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

:root{
    --white: #f5f5f5;
    --button-color:#d59066;
    --highlight-color: #f2d1c2;
    --soft-amber:#d1bfad;
    --main-text: #3f5855;
    --lochinvar: #3c413d;
    --horizon: #c3d7d2;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

/* fixes bootstrap blue links*/

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--lochinvar);
    border-radius: 5rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:var(--white);
    background: var(--button-color);
    cursor: pointer;
}

.btn:hover{
background:#d59066;
color:var(--white);
letter-spacing: .2rem;
box-shadow: 0px 0px 7px 1px #a26d4d;
}

body{
    background: var(--white);
}

.heading{
    text-align: center;
    color: var(--button-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-text);
    text-transform: uppercase;
}

.header{
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.brand {
    display: flex;
    align-items: center;
    color:var(--main-text);
    font-size: 3rem;
    font-weight: bold;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:var(--main-text);
}

.header .navbar a:hover{
    color:var(--soft-amber);
    border-bottom: .1rem solid var(--soft-amber);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#3f5855;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--soft-amber);
}

.fa-times{
    font-size: 25px !important;
}

#menu-btn{
    display: none;
}

#loginLink{
    display: none;
}

.header .search-bar-container{
    position: absolute;
    top:115%; right: 7%;
    background: var(--white);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
  
.header .search-bar-container.active{
    transform: scaleY(1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
  
.header .search-bar-container input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--main-text);
    padding:1rem;
    text-transform: none;
}
  
.header .search-bar-container label{
    color: var(--main-text);
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
}
  
.header .search-bar-container label:hover{
    color:var(--soft-amber);
}

/* loginform */
.login-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background:rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.login-form-container.active{
top:0;
}

.login-form-container form{
margin:2rem;
padding:1.5rem 2rem;
border-radius: .5rem;
background:var(--white);
width:50rem;
}

.login-form-container form h3{
font-size: 3rem;
color:#444;
text-transform: uppercase;
text-align: center;
padding:1rem 0;
}

.login-form-container form .box{
width:100%;
padding:1rem;
font-size: 1.7rem;
color:var(--lochinvar);
margin:.6rem 0;
border:.1rem solid rgba(0,0,0,.3);
text-transform: none;
}

.login-form-container form .box:focus{
border-color: #333;
}

.login-form-container form #remember{
margin:2rem 0;
}

.login-form-container form label{
font-size: 1.5rem;
}

.login-form-container form .btn{
display: block;
width:100%;
}
  
.login-form-container form p{
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--lochinvar);
}
  
.login-form-container form p a{
    color:var(--button-color);
}
  
.login-form-container form p a:hover{
    color:var(--soft-amber);
    text-decoration: underline;
}
  
.login-form-container #form-close{
      
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color:var(--button-color);
    cursor: pointer;
}
/* loginformend */

/* cart menu start */

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--main-text);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--soft-amber);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--main-text);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-text);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

#home{
    
   padding-top:91px;
   
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
}

.carousel-item:before {
    content:"";
    display:block;
    position:absolute;
    top: 0;
    width: 100vw;
    height: 60vh;
    background-image:linear-gradient(to bottom, transparent, rgba(0,0,0,0.7));
  }

.carousel-caption{
    right: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .carousel-item h1{
    font-size: 3rem;
    /* margin-bottom: .5em; */
    color:var(--white);
    opacity: 0;
    
}

.home .carousel-item p{
    font-size: 1.5em;
    color:var(--white);
    opacity: 0;
}

.home .carousel-item.active h1{
    animation: fadeInLeft 1s ease forwards;
}

.home .carousel-item.active p{
    animation: fadeInRight 1s ease forwards;
}

@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.diy{
    padding: 20%;
    background-image: url(/img/plantbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.diy span{
    color: var(--button-color);
    /* background-color: var(--white); */
    
}

.diy h1{
    color: var(--main-text);
    background-color: var(--white);
    padding-bottom: 0 !important;
}

.table{
    font-size: 2rem;
}

.about, .featured, .review, .contact{
    padding:2rem 7%;
}

.about .row{
    display:flex;
    align-items: center;
    background:var(--horizon);
    flex-wrap: wrap;
}

.about .row:hover {
    transform: scale(1.01);
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;

    padding: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:var(--lochinvar);
}

.about .row .content p{
    font-size: 1.6rem;
    color:var(--white);
    padding:1rem 0;
    line-height: 1.8;
}

.featured .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.featured .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--soft-amber);    
}

.featured .box-container .box img{
    height: 10rem;
}

.featured .box-container .box h3{
    color: var(--soft-amber);
    font-size: 2rem;
    padding:1rem 0;
}

.featured .box-container .box:hover h3{
    color: var(--main-text);
}

.featured .box-container .box:hover div{
    color: var(--main-text);
}

.featured .box-container .box .price{
    color: var(--soft-amber);
    font-size: 2.5rem;
    padding: .5rem 0;
}

.featured .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.featured .box-container .box:hover{
    background:var(--highlight-color);
}

.featured .box-container .box:hover > *{
    color:var(--white);
}
/* featured products end */

/* review section */
.review .box-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--main-text);
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--lochinvar);
}
/* review section end*/

/* contact form starts */

.contact{
    padding-bottom: 10rem;
}
.contact .row{
    display: flex;
    background:var(--soft-amber);
    flex-wrap: wrap;
    gap:1rem;
    
}

.contact .row .map{
    flex:1 1 45rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:var(--white);
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--white);
    border:var(--soft-amber);
}

.contact .row form .inputBox span{

    color: var(--main-text);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:var(--main-text);
    text-transform: none;
    background:none;
}

.select-box {
    cursor: pointer;
    position : relative;
    margin-bottom: 5rem;

    width: 100%;
  }
  
  .select,
  .label {
    color: var(--main-text);
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
  }
  
  .select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    /* filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; */
    background: none transparent;
    border: 0 none;
  }
  .select-box1 {
    background: var(--white);
  }
  
  .label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
  }
  .open .label::after {
     content: "▲";
  }
  .label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid var(--white);
  }

/* contact form ends */

.footer{
    background:var(--main-text);
    text-align: center;
    box-shadow: inset 0 10px 10px -10px black;
    width: 100%;
    position: relative;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--white);
    border:var(--white);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--lochinvar);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:var(--white);
    border:var(--white);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--lochinvar);
}

.footer .credit{
    font-size: 2rem;
    color:var(--white);
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--soft-amber);
}

/* registration form */

/* media queries  */
@media (min-width:991px){
    #home{
    
        padding-top:91px;
        
     }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    #home{
    
        padding-top:80.17px;
        
     }

}

@media (max-width:863px){

    #menu-btn{
        display: inline-block;
    }

    #loginLink{
        display:inline-block;
    }

    #login-btn{
        display:none;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: var(--white);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--main-text);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
        /* position: relative; */ 
    }

    .header .navbar .d-block{
        height: 120rem;
        /* height: 80%; */
        /* padding-bottom: 100%; */
    }

    .header .navbar .d-block{
        height: 130rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    /* #home{
    
        padding-top:80.17px;
        
     } */

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:650px){
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    }
}

@media (max-width:437px){

    html{
        font-size: 50%;
    }

    #menu-btn{
        display: inline-block;
    }

    #loginLink{
        display:inline-block;
    }

    #login-btn{
        display:none;
    }

    .brand span{
        font-size:2rem;
    }

    .search-bar-container.active{
        width: 40rem;
    }

    #home{
        padding-top:73px;
     }
}

@media (max-width:280px){
    #search-btn{
        display:none;
    }
}